.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background: white;
  background-size: 400% 400%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
